.card-container{

    width: 300px;
    overflow: hidden;
    box-shadow: 0 0 15px -5px;
    transition: 0.5s ease-in-out;

}

.card-container:hover{
    transform: scale(1.1);
    box-shadow: 0 0 15px 0;

}

.image-container{

    padding: 5px;

}

.image-container img{

    width: 99.5%;
    overflow: hidden;
    height: 200px;


}

.card-content{
    margin: 1rem;
    margin-top: 0.5rem;
}

h3,p{
    margin: 0;
    padding: 0;
}

.card-title{
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
}

.card-title h3{
    text-transform: uppercase;
}

.btn{
    display: flex;
    justify-content: center;
}

.btn button{
    padding: 0.5rem;
    background-color: white;
    border: none;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    transition: 0.2s;
    border-radius: 3px;
    cursor: pointer;
}


.btn button:hover{
    background-color: rgba(27, 156, 252, 0.1);
    transform: scale(1.1);
}



.btn button a{
    text-decoration: none;
    text-transform: uppercase;
    color: #1b9cfc;
    font-weight: bold;
}




/* modal */

body.active-modal {
    overflow-y: hidden;
}


.modal,
.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49, 49, 49, 0.8);
}



.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}

.modal-content .modal-image img{
        width: 99.5%;
        overflow: hidden;
        height: 300px;
}

.modal-content .modal-title{
    display: flex;
    justify-content: center;
}

.modal-content .modal-title h2{
    text-transform: uppercase;
}


.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
    color: red;
    background-color: white;
    font-weight: bold;
    border: 3px solid red;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}


.close-modal:hover{
    transform: scale(1.1);
    background-color: red;
    color: white;
}





